In [1]:
from src.dgp import dgp_steps_experiment

import numpy as np

In [2]:
dgp_steps_experiment = dgp_steps_experiment(N=500, p=0.5, alpha=6000, beta=0, gamma=200, delta=500, steps_stddev=4000, seed=42, num_users=500)

In [3]:
df = dgp_steps_experiment.generate_pre_experiment_data()

In [9]:
min(df['y_pre'])

-343.74483731988494

In [5]:
theta = np.cov(df["y_post"], df["y_pre"])[0, 1] / np.var(df["y_pre"])
df["y_cuped"] = df["y_post"] - (df["y_pre"] - np.mean(df["y_pre"])) * theta

KeyError: 'y_post'

       i  is_treatment        y_pre       y_post      y_cuped
0      1             0  6341.755976  7125.684161  6775.088030
1      2             1  7876.170839  8216.878748  6256.280355
2      3             1  6950.423838  8241.078669  7251.830854
3      4             1  5423.096344  7231.799925  7845.117869
4      5             0  5101.585329  6122.067510  7072.734547
..   ...           ...          ...          ...          ...
495  496             0  5469.131227  5181.219819  5746.235138
496  497             1  5510.560557  8367.868771  8889.413894
497  498             0  7044.160877  6638.445954  5550.843484
498  499             1  6681.891490  8123.986862  7416.499671
499  500             1  7846.707326  8845.999906  6916.316440

[500 rows x 5 columns]

In [12]:
import random
import pandas as pd
import numpy as np

# Define the number of data points and the starting date
num_points = 365
start_date = '2022-01-01'

# Generate a list of dates
dates = pd.date_range(start_date, periods=num_points)

# Simulate the step count data
step_count = np.random.randint(low=1000, high=5000, size=num_points)

# Combine the dates and step count data into a dataframe
df = pd.DataFrame({'date': dates, 'step_count': step_count})

# Set the date column as the index of the dataframe
df = df.set_index('date')

# Print the first 5 rows of the dataframe
print(df.head())

            step_count
date
2022-01-01        3247
2022-01-02        3992
2022-01-03        1078
2022-01-04        4984
2022-01-05        4003