In [1]:
from src.dgp import dgp_steps_experiment

In [2]:
dgp_steps_experiment = dgp_steps_experiment(N=500, p=0.5, alpha=6000, beta=0, gamma=200, delta=500, steps_stddev=1000, seed=42)

In [3]:
dgp_steps_experiment.generate_data()

       i  is_treatment        y_pre       y_post
0      1             0  6341.755976  7125.684161
1      2             1  7876.170839  8216.878748
2      3             1  6950.423838  8241.078669
3      4             1  5423.096344  7231.799925
4      5             0  5101.585329  6122.067510
..   ...           ...          ...          ...
495  496             0  5469.131227  5181.219819
496  497             1  5510.560557  8367.868771
497  498             0  7044.160877  6638.445954
498  499             1  6681.891490  8123.986862
499  500             1  7846.707326  8845.999906

[500 rows x 4 columns]